// 1. OBJECT [ 1.1. VARIABLES ]  ######################################################################################

// A. BRAND COLOR VARIABLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    $ct-blue:               #216DAB;
    $ct-teal:               #113C4B;
    $ct-grey10:             #E4E4E4;

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################