// 1. OBJECT [ 1.2. MIXINS ]  #########################################################################################

// A. LINK HOVER MIXIN ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@mixin hover-effect() {

    transition: all 0.5s;

}

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. ASPECT RATIO ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@mixin aspect-ratio ($width, $aspect){

    position: relative; 
    width: $width;

    &:before {

    content: ""; 
    display: block; 
    padding-top: $aspect;

    }
}
	
// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. POSITION ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C.1. POSITION ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@mixin position ($position){
			
    position: $position;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

// C.1. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C.2. ABSOLUTE EQUAL SIDES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@mixin absolute ($padding) {
    
    position: absolute;
    top: $padding;
    right: $padding;
    bottom: $padding;
    left: $padding;
    
}

// C.2. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. VERTICAL ALIGN ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @mixin vertical-align($position){

        position: $position;
        top: 50%;
        transform: translateY(-50%);

    }

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++




// END OF FILE ########################################################################################################