// 1. OBJECT [ 1.4. NAVIGATION ]  #################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. BURGER MENU -----------------------------------------------------------------------------------------------

.mobi-reveal {
    
    position: absolute;
    top: $baseline/2;
    right: $baseline/2;
    width: 30px;
    height: 30px;
    
}

// A.1. END -------------------------------------------------------------------------------------------------------

// A.2. DESK NAV --------------------------------------------------------------------------------------------------

#nav {
    
    background: $ct-blue;
    border-radius: 10px 10px 0 0;
    
}

#nav-main {

    list-style-type: none;
    margin: 0;
    padding: 0;

    li {

        list-style-type: none;

        a {

            display: block;
            color: $white;

            &.active,
            &:hover {

                background: $black;
                text-decoration: none;

            }
        }
    }
}

// A.2. END -------------------------------------------------------------------------------------------------------

// A.3. PAGER -----------------------------------------------------------------------------------------------------

.pager {
    
    li {
        
        a {
        
            margin-left: 0;
            margin-right: 0;
            margin: $baseline-small;
            
            &:hover {
                
                color: $white !important;
                
            }
        }
    }
}

// A.3. END -------------------------------------------------------------------------------------------------------

// A.4. PAGE NAVIGATION -------------------------------------------------------------------------------------------

.page-header {
    
    padding: $baseline;
    margin-bottom: $baseline;
    
    h1 {
        
        display: inline-block;
        margin: 0;
        float: left;
        
    }
        
    .navigation {
        
        display: inline-block;
        float: right;
            
        li {

            display: inline-block;

        }
    }
}

// A.4. END -------------------------------------------------------------------------------------------------------

// A.5. HEADER NAVIGATION -----------------------------------------------------------------------------------------

.header__nav {
    
    li {
        
        display: inline-block;
        
    }
}

// A.5. END -------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

    .mobi-reveal {
        
        display: block;
        
    }
    
    #nav-main {
        
        //display: none;
        
        li {
            
            display: inline-block;
            
            a {
                
                padding: $baseline $baseline-small;
                
            }
        }
    } 

}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    .mobi-reveal {
        
        display: block;
        
    }
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

    .mobi-reveal {
        
        display: none;
        
    }
    
    #nav-main {
        
        display: block;
        margin-left: $baseline-small;
        
        li {
            
            display: inline-block;
            
            a {
                
                padding: $baseline $baseline-small;
                
            }
        }
    } 
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

    .mobi-reveal {
        
        display: none;
        
    }
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################