// 1. OBJECT [ 1.5. CARDS]  #######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. GRID TYPES ------------------------------------------------------------------------------------------------

.card {
    
    box-shadow: 0px 2px 5px $black;
    padding: 0 !important;
    display: block;
    position: relative;
    
    .card__header {
        
        .club__logo {
            
            @include absolute (0);
            overflow: hidden;
            
            .club__logo-image {
                
                width: 100%;
                height: auto;
                
            }
        }
        
        .club__logo-image {
            
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    
    .card__body {
        
        padding: $baseline 0;
        background: $white;
        
        h4 {
            
            text-align: center;
            font-weight: bold;
            display: block;
            color: $black;
            margin: 0;
            padding: 0;
            
        }
    }
    
    .card__footer {
        
        background: $ct-grey10;
        
        a {
            
            display: block;
            text-align: center;
            text-transform: uppercase;
            padding: $baseline/2;
            
        }
    }
}

// A.1. END -------------------------------------------------------------------------------------------------------

// A.2. GENERAL TYPE ----------------------------------------------------------------------------------------------

// A.2. END -------------------------------------------------------------------------------------------------------

// A.3. TABLES ----------------------------------------------------------------------------------------------------

// A.3. END -------------------------------------------------------------------------------------------------------

// A.4. SPECIAL TEXT ----------------------------------------------------------------------------------------------

// A.4. END -------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {


}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {


}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################