// 2. SECTION [ 2.1. MASTHEAD ]  ######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

#masthead {

    // A.1. MAJOR SECTION ---------------------------------------------------------------------------------------------

        // A.1.1. MINOR SECTION

        .top-band {

            width: 100%;
            height: $baseline;
            border-radius: 0px 0px 10px 10px;
            background: $ct-blue;

        }
            // A.1.1.1. Small Section
    
        // A.1.1. END
    
        // A.1.2. logo section
    
        .section-logo {
            
            @include aspect-ratio (100%, 20%);
            
            .logo-link {
                
                @include absolute (10%);
                
                img {
                    
                    height: 100%;
                    width: auto;
                    float: right;
                    
                }
            }
        }
    
        // A.1.2. END


    // A.1. END -------------------------------------------------------------------------------------------------------
    
    // A.2. END -------------------------------------------------------------------------------------------------------
    
    .header__nav {
        
        @include aspect-ratio (100%, 15%);
        
        ul {
            
            @include absolute(0);   
            @include vertical-align(absolute);
            margin: 0;
            padding: 0;
            
        }
    }
    
    // A.2. END -------------------------------------------------------------------------------------------------------

}

#top {
    
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-size: 100% auto;
    z-index: -1;
    
}

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {


}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {


}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################