// 3. PAGE [ 3.1. HOMEPAGE ]  #########################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.page__players {
    
    .icon {
        
        display: inline-block;
        
    }
    
    .player__team {
        
        position: relative;
        
        .toggle-content {
            
            @include absolute(0);
            background: $white;
            
            
        }
    }
    
    .player__docs {
        
        .icon {

            position: relative;
            z-index: 1;

        }
    
        .player-photo {

            display: none;
            background: $white;
            @include absolute(0);
            z-index: 100;

            .div-toggle,
            .div-hover {

                color: $black;

                img {

                    width: 100%;
                    height: auto;

                }
            }
        }
    }
}

    // A.1. MAJOR SECTION ---------------------------------------------------------------------------------------------

        // A.1.1. MINOR SECTION

            // A.1.1.1. Small Section

        // A.1.1. END


    // A.1. END -------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {


}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {


}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################