@charset "UTF-8";
/**
 * If you are building a non-responsive site but would still like to use
 * csswizardry-grids, set this to ‘false’:
 */
/**
 * Is this build mobile first? Setting to ‘true’ means that all grids will be
 * 100% width if you do not apply a more specific class to them.
 */
/**
 * Define which namespaced breakpoints you would like to generate for each of
 * widths, push and pull. This is handy if you only need pull on, say, desk, or
 * you only need a new width breakpoint at mobile sizes. It allows you to only
 * compile as much CSS as you need. All are turned on by default, but you can
 * add and remove breakpoints at will.
 *
 * Push and pull shall only be used if `$push` and/or `$pull` and `$responsive`
 * have been set to ‘true’.
 */
/**
 * Set the spacing between your grid items.
 */
/**
 * Would you like Sass’ silent classes, or regular CSS classes?
 */
/**
 * Using `inline-block` means that the grid items need their whitespace removing
 * in order for them to work correctly. Set the following to true if you are
 * going to achieve this by manually removing/commenting out any whitespace in
 * your HTML yourself.
 *
 * Setting this to false invokes a hack which cannot always be guaranteed,
 * please see the following for more detail:
 *
 * github.com/csswizardry/csswizardry-grids/commit/744d4b23c9d2b77d605b5991e54a397df72e0688
 * github.com/csswizardry/inuit.css/issues/170#issuecomment-14859371
 */
/**
 * You do not need to edit anything from this line onward; csswizardry-grids is
 * good to go. Happy griddin’!
 */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600);
@import url(http://fonts.googleapis.com/css?family=Lato:300);
@import url(konstruct/vendor/normalize.css);
/**
 * Drop relative positioning into silent classes which can’t take advantage of
 * the `[class*="push--"]` and `[class*="pull--"]` selectors.
 */
/*------------------------------------*\
    $GRID SETUP
\*------------------------------------*/
/**
 * 1. Allow the grid system to be used on lists.
 * 2. Remove any margins and paddings that might affect the grid system.
 * 3. Apply a negative `margin-left` to negate the columns’ gutters.
 */
.grid {
  list-style: none;
  /* [1] */
  margin: 0;
  /* [2] */
  padding: 0;
  /* [2] */
  margin-left: -20px;
  /* [3] */
  letter-spacing: -0.31em;
}

/* Opera hack */
.opera:-o-prefocus,
.grid {
  word-spacing: -0.43em;
}

/**
 * 1. Cause columns to stack side-by-side.
 * 2. Space columns apart.
 * 3. Align columns to the tops of each other.
 * 4. Full-width unless told to behave otherwise.
 * 5. Required to combine fluid widths and fixed gutters.
 */
.grid__item, .grid .grid__half, .grid .grid__third, .grid .grid__quarter {
  display: inline-block;
  /* [1] */
  padding-left: 20px;
  /* [2] */
  vertical-align: top;
  /* [3] */
  width: 100%;
  /* [4] */
  -webkit-box-sizing: border-box;
  /* [5] */
  /* [5] */
  box-sizing: border-box;
  /* [5] */
  letter-spacing: normal;
  word-spacing: normal;
}

/**
 * Reversed grids allow you to structure your source in the opposite order to
 * how your rendered layout will appear. Extends `.grid`.
 */
.grid--rev {
  direction: rtl;
  text-align: left;
}
.grid--rev > .grid__item, .grid .grid--rev > .grid__half, .grid .grid--rev > .grid__third, .grid .grid--rev > .grid__quarter {
  direction: ltr;
  text-align: left;
}

/**
 * Gutterless grids have all the properties of regular grids, minus any spacing.
 * Extends `.grid`.
 */
.grid--full {
  margin-left: 0;
}
.grid--full > .grid__item, .grid .grid--full > .grid__half, .grid .grid--full > .grid__third, .grid .grid--full > .grid__quarter {
  padding-left: 0;
}

/**
 * Align the entire grid to the right. Extends `.grid`.
 */
.grid--right {
  text-align: right;
}
.grid--right > .grid__item, .grid .grid--right > .grid__half, .grid .grid--right > .grid__third, .grid .grid--right > .grid__quarter {
  text-align: left;
}

/**
 * Centered grids align grid items centrally without needing to use push or pull
 * classes. Extends `.grid`.
 */
.grid--center {
  text-align: center;
}
.grid--center > .grid__item, .grid .grid--center > .grid__half, .grid .grid--center > .grid__third, .grid .grid--center > .grid__quarter {
  text-align: left;
}

/**
 * Align grid cells vertically (`.grid--middle` or `.grid--bottom`). Extends
 * `.grid`.
 */
.grid--middle > .grid__item, .grid .grid--middle > .grid__half, .grid .grid--middle > .grid__third, .grid .grid--middle > .grid__quarter {
  vertical-align: middle;
}

.grid--bottom > .grid__item, .grid .grid--bottom > .grid__half, .grid .grid--bottom > .grid__third, .grid .grid--bottom > .grid__quarter {
  vertical-align: bottom;
}

/**
 * Create grids with narrower gutters. Extends `.grid`.
 */
.grid--narrow {
  margin-left: -10px;
}
.grid--narrow > .grid__item, .grid .grid--narrow > .grid__half, .grid .grid--narrow > .grid__third, .grid .grid--narrow > .grid__quarter {
  padding-left: 10px;
}

/**
 * Create grids with wider gutters. Extends `.grid`.
 */
.grid--wide {
  margin-left: -40px;
}
.grid--wide > .grid__item, .grid .grid--wide > .grid__half, .grid .grid--wide > .grid__third, .grid .grid--wide > .grid__quarter {
  padding-left: 40px;
}

/*------------------------------------*\
    $WIDTHS
\*------------------------------------*/
/**
 * Create our width classes, prefixed by the specified namespace.
 */
/**
 * Our regular, non-responsive width classes.
 */
/**
 * Whole
 */
.one-whole {
  width: 100%;
}

/**
 * Halves
 */
.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths, .grid .grid__half {
  width: 50%;
}

/**
 * Thirds
 */
.one-third, .two-sixths, .four-twelfths, .grid .grid__third {
  width: 33.333%;
}

.two-thirds, .four-sixths, .eight-twelfths {
  width: 66.666%;
}

/**
 * Quarters
 */
.one-quarter, .two-eighths, .three-twelfths, .grid .grid__quarter {
  width: 25%;
}

.three-quarters, .six-eighths, .nine-twelfths {
  width: 75%;
}

/**
 * Fifths
 */
.one-fifth, .two-tenths {
  width: 20%;
}

.two-fifths, .four-tenths {
  width: 40%;
}

.three-fifths, .six-tenths {
  width: 60%;
}

.four-fifths, .eight-tenths {
  width: 80%;
}

/**
 * Sixths
 */
.one-sixth, .two-twelfths {
  width: 16.666%;
}

.five-sixths, .ten-twelfths {
  width: 83.333%;
}

/**
 * Eighths
 */
.one-eighth {
  width: 12.5%;
}

.three-eighths {
  width: 37.5%;
}

.five-eighths {
  width: 62.5%;
}

.seven-eighths {
  width: 87.5%;
}

/**
 * Tenths
 */
.one-tenth {
  width: 10%;
}

.three-tenths {
  width: 30%;
}

.seven-tenths {
  width: 70%;
}

.nine-tenths {
  width: 90%;
}

/**
 * Twelfths
 */
.one-twelfth {
  width: 8.333%;
}

.five-twelfths {
  width: 41.666%;
}

.seven-twelfths {
  width: 58.333%;
}

.eleven-twelfths {
  width: 91.666%;
}

/**
 * Our responsive classes, if we have enabled them.
 */
@media only screen and (max-width: 480px) {
  /**
   * Whole
   */
  .mobile--one-whole, .grid .grid__half, .grid .grid__third, .grid .grid__quarter {
    width: 100%;
  }

  /**
   * Halves
   */
  .mobile--one-half, .mobile--two-quarters, .mobile--three-sixths, .mobile--four-eighths, .mobile--five-tenths, .mobile--six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  .mobile--one-third, .mobile--two-sixths, .mobile--four-twelfths {
    width: 33.333%;
  }

  .mobile--two-thirds, .mobile--four-sixths, .mobile--eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  .mobile--one-quarter, .mobile--two-eighths, .mobile--three-twelfths {
    width: 25%;
  }

  .mobile--three-quarters, .mobile--six-eighths, .mobile--nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  .mobile--one-fifth, .mobile--two-tenths {
    width: 20%;
  }

  .mobile--two-fifths, .mobile--four-tenths {
    width: 40%;
  }

  .mobile--three-fifths, .mobile--six-tenths {
    width: 60%;
  }

  .mobile--four-fifths, .mobile--eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  .mobile--one-sixth, .mobile--two-twelfths {
    width: 16.666%;
  }

  .mobile--five-sixths, .mobile--ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  .mobile--one-eighth {
    width: 12.5%;
  }

  .mobile--three-eighths {
    width: 37.5%;
  }

  .mobile--five-eighths {
    width: 62.5%;
  }

  .mobile--seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  .mobile--one-tenth {
    width: 10%;
  }

  .mobile--three-tenths {
    width: 30%;
  }

  .mobile--seven-tenths {
    width: 70%;
  }

  .mobile--nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  .mobile--one-twelfth {
    width: 8.333%;
  }

  .mobile--five-twelfths {
    width: 41.666%;
  }

  .mobile--seven-twelfths {
    width: 58.333%;
  }

  .mobile--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  /**
   * Whole
   */
  .tablet--one-whole {
    width: 100%;
  }

  /**
   * Halves
   */
  .tablet--one-half, .tablet--two-quarters, .tablet--three-sixths, .tablet--four-eighths, .tablet--five-tenths, .tablet--six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  .tablet--one-third, .tablet--two-sixths, .tablet--four-twelfths {
    width: 33.333%;
  }

  .tablet--two-thirds, .tablet--four-sixths, .tablet--eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  .tablet--one-quarter, .tablet--two-eighths, .tablet--three-twelfths {
    width: 25%;
  }

  .tablet--three-quarters, .tablet--six-eighths, .tablet--nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  .tablet--one-fifth, .tablet--two-tenths {
    width: 20%;
  }

  .tablet--two-fifths, .tablet--four-tenths {
    width: 40%;
  }

  .tablet--three-fifths, .tablet--six-tenths {
    width: 60%;
  }

  .tablet--four-fifths, .tablet--eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  .tablet--one-sixth, .tablet--two-twelfths {
    width: 16.666%;
  }

  .tablet--five-sixths, .tablet--ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  .tablet--one-eighth {
    width: 12.5%;
  }

  .tablet--three-eighths {
    width: 37.5%;
  }

  .tablet--five-eighths {
    width: 62.5%;
  }

  .tablet--seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  .tablet--one-tenth {
    width: 10%;
  }

  .tablet--three-tenths {
    width: 30%;
  }

  .tablet--seven-tenths {
    width: 70%;
  }

  .tablet--nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  .tablet--one-twelfth {
    width: 8.333%;
  }

  .tablet--five-twelfths {
    width: 41.666%;
  }

  .tablet--seven-twelfths {
    width: 58.333%;
  }

  .tablet--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 1024px) {
  /**
   * Whole
   */
  .desk--one-whole {
    width: 100%;
  }

  /**
   * Halves
   */
  .desk--one-half, .desk--two-quarters, .desk--three-sixths, .desk--four-eighths, .desk--five-tenths, .desk--six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  .desk--one-third, .desk--two-sixths, .desk--four-twelfths {
    width: 33.333%;
  }

  .desk--two-thirds, .desk--four-sixths, .desk--eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  .desk--one-quarter, .desk--two-eighths, .desk--three-twelfths {
    width: 25%;
  }

  .desk--three-quarters, .desk--six-eighths, .desk--nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  .desk--one-fifth, .desk--two-tenths {
    width: 20%;
  }

  .desk--two-fifths, .desk--four-tenths {
    width: 40%;
  }

  .desk--three-fifths, .desk--six-tenths {
    width: 60%;
  }

  .desk--four-fifths, .desk--eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  .desk--one-sixth, .desk--two-twelfths {
    width: 16.666%;
  }

  .desk--five-sixths, .desk--ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  .desk--one-eighth {
    width: 12.5%;
  }

  .desk--three-eighths {
    width: 37.5%;
  }

  .desk--five-eighths {
    width: 62.5%;
  }

  .desk--seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  .desk--one-tenth {
    width: 10%;
  }

  .desk--three-tenths {
    width: 30%;
  }

  .desk--seven-tenths {
    width: 70%;
  }

  .desk--nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  .desk--one-twelfth {
    width: 8.333%;
  }

  .desk--five-twelfths {
    width: 41.666%;
  }

  .desk--seven-twelfths {
    width: 58.333%;
  }

  .desk--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 1200px) {
  /**
   * Whole
   */
  .desk-wide--one-whole {
    width: 100%;
  }

  /**
   * Halves
   */
  .desk-wide--one-half, .desk-wide--two-quarters, .desk-wide--three-sixths, .desk-wide--four-eighths, .desk-wide--five-tenths, .desk-wide--six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  .desk-wide--one-third, .desk-wide--two-sixths, .desk-wide--four-twelfths {
    width: 33.333%;
  }

  .desk-wide--two-thirds, .desk-wide--four-sixths, .desk-wide--eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  .desk-wide--one-quarter, .desk-wide--two-eighths, .desk-wide--three-twelfths {
    width: 25%;
  }

  .desk-wide--three-quarters, .desk-wide--six-eighths, .desk-wide--nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  .desk-wide--one-fifth, .desk-wide--two-tenths {
    width: 20%;
  }

  .desk-wide--two-fifths, .desk-wide--four-tenths {
    width: 40%;
  }

  .desk-wide--three-fifths, .desk-wide--six-tenths {
    width: 60%;
  }

  .desk-wide--four-fifths, .desk-wide--eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  .desk-wide--one-sixth, .desk-wide--two-twelfths {
    width: 16.666%;
  }

  .desk-wide--five-sixths, .desk-wide--ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  .desk-wide--one-eighth {
    width: 12.5%;
  }

  .desk-wide--three-eighths {
    width: 37.5%;
  }

  .desk-wide--five-eighths {
    width: 62.5%;
  }

  .desk-wide--seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  .desk-wide--one-tenth {
    width: 10%;
  }

  .desk-wide--three-tenths {
    width: 30%;
  }

  .desk-wide--seven-tenths {
    width: 70%;
  }

  .desk-wide--nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  .desk-wide--one-twelfth {
    width: 8.333%;
  }

  .desk-wide--five-twelfths {
    width: 41.666%;
  }

  .desk-wide--seven-twelfths {
    width: 58.333%;
  }

  .desk-wide--eleven-twelfths {
    width: 91.666%;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 2em;
  margin-bottom: 48px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 24px;
}

h3 {
  font-size: 1.125em;
  margin-top: 24px;
  margin-bottom: 0;
}

h4 {
  font-size: 1em;
  margin-bottom: 24px;
}

h5 {
  font-size: 0.75em;
  margin-bottom: 24px;
}

h6 {
  font-size: 0.625em;
}

body,
p {
  font-family: "lato", sans-serif;
  line-height: 24px;
  margin: 0 0 24px 0;
  color: #333;
}

strong,
b {
  font-weight: bold;
}

code {
  line-height: 24px;
  margin: 0;
}

pre {
  margin: 0 0 24px 0;
}

a {
  color: #00BFFF;
  text-decoration: none;
}
a:hover {
  color: #0086b3;
  text-decoration: underline;
}

hr {
  margin: 23px 0;
  border: 0;
  border-bottom: 1px solid #555;
  line-height: 24px;
}

ol, ul {
  margin: 0 0 24px 0;
  padding-left: 24px;
}
ol ol, ol ul, ul ol, ul ul {
  margin: 0;
  padding-left: 24px;
}
ol li, ul li {
  line-height: 24px;
  margin: 0;
  padding: 0;
}

dl {
  line-height: 24px;
  margin: 0 0 24px 0;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin: 0 0 0 24px;
}

table {
  width: 100%;
  margin: 2px 0 24px 0;
  padding: 0;
  border: solid 1px #555;
}
table tr {
  line-height: 24px;
  height: auto;
}
table td, table th {
  line-height: 24px;
  margin: 0;
  border-right: solid 1px #555;
}
table th {
  font-weight: normal;
  text-align: left;
}
table thead {
  line-height: 24px;
}
table tbody {
  line-height: 24px;
}

body {
  font-size: 75%;
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 87.5%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  body {
    font-size: 87.5%;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    font-size: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    font-size: 112.5%;
  }
}
img {
  display: block;
}

form label {
  width: 95%;
  line-height: 24px;
  display: block;
}
form input[type="text"],
form input[type="password"],
form input[type="select"],
form input[type="search"] {
  width: 90%;
  margin-bottom: 0px;
  display: block;
  padding: 12px;
}
form textarea {
  padding: 12px;
  width: 90%;
  height: 200px;
  line-height: 24px;
  margin-bottom: 5px;
  display: block;
  clear: left;
  overflow: auto;
}
form input[type="radio"],
form input[type="checkbox"] {
  margin: 0px 8px 0px 12px;
  display: inline-block;
}

.radio,
.checkbox {
  padding: 0 0 0 0 !important;
}
.radio ul,
.checkbox ul {
  margin-bottom: -1px !important;
}

.textarea {
  margin-bottom: 23px;
}

legend {
  padding-bottom: 24px;
}

input[type="file"] {
  margin: 0px 6px 3px 6px;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  position: relative;
  top: 5px;
  margin-bottom: 24px;
}

form {
  margin-bottom: 24px;
}
form .field-item {
  margin-bottom: 24px;
  padding: 0 0 2px 0;
}
form input {
  border: solid 1px #999;
}

form.stacked label {
  display: block;
}
form.stacked .radio label, form.stacked .checkbox label {
  display: inline-block;
}
form.inline label {
  display: inline-block;
  width: 150px;
  line-height: 24px;
}

html, body {
  margin: 0;
}

.container {
  max-width: 100%;
}

@media only screen and (max-width: 480px) {
  .container {
    padding: 12px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .container {
    padding: baseline;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    width: 940px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}
.list, .radio ul,
.checkbox ul {
  margin: 0;
  padding: 0;
}
.list li, .radio ul li,
.checkbox ul li {
  margin: 0;
  list-style: none;
}
.list li a, .radio ul li a,
.checkbox ul li a {
  padding: 0 5px;
}
.list.horizontal li, .radio ul.horizontal li,
.checkbox ul.horizontal li {
  display: inline;
}
.list.horizontal li a, .radio ul.horizontal li a,
.checkbox ul.horizontal li a {
  display: inline-block;
}
.list.vertical li, .radio ul.vertical li,
.checkbox ul.vertical li {
  display: block;
}
.list.vertical li a, .radio ul.vertical li a,
.checkbox ul.vertical li a {
  display: block;
}
.list.left, .radio ul.left,
.checkbox ul.left {
  text-align: left;
}
.list.center, .radio ul.center,
.checkbox ul.center {
  text-align: center;
}
.list.right, .radio ul.right,
.checkbox ul.right {
  text-align: right;
}

.button {
  display: inline-block;
}
.button:hover {
  text-decoration: none;
}
.button.small {
  padding: 4px 6px;
  font-size: 0.75em;
}
.button.medium {
  padding: 6px 12px;
  font-size: 1em;
}
.button.large {
  padding: 12px 24px;
  font-size: 1.125em;
}
.button.flat.blue {
  color: #fff;
  background: #00BFFF;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.button.flat.blue:before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
  background: #007399;
  color: #fff;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.button.flat.blue:hover:before {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.button.flat.green {
  color: #fff;
  background: #46a546;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.button.flat.green:before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
  background: #285d28;
  color: #fff;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.button.flat.green:hover:before {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.button.flat.yellow {
  color: #fff;
  background: #ffc40d;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.button.flat.yellow:before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
  background: #a67e00;
  color: #fff;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.button.flat.yellow:hover:before {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.button.flat.orange {
  color: #fff;
  background: #f89406;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.button.flat.orange:before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
  background: #945904;
  color: #fff;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.button.flat.orange:hover:before {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.button.flat.red {
  color: #fff;
  background: #9d261d;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.button.flat.red:before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
  background: #47110d;
  color: #fff;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.button.flat.red:hover:before {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.button.flat.pink {
  color: #fff;
  background: #c3325f;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.button.flat.pink:before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
  background: #721d37;
  color: #fff;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.button.flat.pink:hover:before {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.button.flat.purple {
  color: #fff;
  background: #7a43b6;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.button.flat.purple:before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
  background: #48286b;
  color: #fff;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.button.flat.purple:hover:before {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.button.outline.blue {
  border: solid 2px #00BFFF;
  color: #00BFFF;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.outline.blue:before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
  background: #00BFFF;
  color: #fff;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.outline.blue:hover {
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.outline.blue:hover:before {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.outline.green {
  border: solid 2px #46a546;
  color: #46a546;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.outline.green:before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
  background: #46a546;
  color: #fff;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.outline.green:hover {
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.outline.green:hover:before {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.outline.yellow {
  border: solid 2px #ffc40d;
  color: #ffc40d;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.outline.yellow:before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
  background: #ffc40d;
  color: #fff;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.outline.yellow:hover {
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.outline.yellow:hover:before {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.outline.orange {
  border: solid 2px #f89406;
  color: #f89406;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.outline.orange:before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
  background: #f89406;
  color: #fff;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.outline.orange:hover {
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.outline.orange:hover:before {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.outline.red {
  border: solid 2px #9d261d;
  color: #9d261d;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.outline.red:before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
  background: #9d261d;
  color: #fff;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.outline.red:hover {
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.outline.red:hover:before {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.outline.pink {
  border: solid 2px #c3325f;
  color: #c3325f;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.outline.pink:before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
  background: #c3325f;
  color: #fff;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.outline.pink:hover {
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.outline.pink:hover:before {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.outline.purple {
  border: solid 2px #7a43b6;
  color: #7a43b6;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.outline.purple:before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
  background: #7a43b6;
  color: #fff;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.outline.purple:hover {
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.outline.purple:hover:before {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.button.pill.blue {
  color: #fff;
  background: #00BFFF;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s;
          transition: 0.5s;
  border-radius: 12px;
}
.button.pill.blue:before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
  background: #007399;
  color: #fff;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
  border-radius: 12px;
  max-width: 100%;
}
.button.pill.blue:hover:before {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.button.pill.green {
  color: #fff;
  background: #46a546;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s;
          transition: 0.5s;
  border-radius: 12px;
}
.button.pill.green:before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
  background: #285d28;
  color: #fff;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
  border-radius: 12px;
  max-width: 100%;
}
.button.pill.green:hover:before {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.button.pill.yellow {
  color: #fff;
  background: #ffc40d;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s;
          transition: 0.5s;
  border-radius: 12px;
}
.button.pill.yellow:before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
  background: #a67e00;
  color: #fff;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
  border-radius: 12px;
  max-width: 100%;
}
.button.pill.yellow:hover:before {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.button.pill.orange {
  color: #fff;
  background: #f89406;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s;
          transition: 0.5s;
  border-radius: 12px;
}
.button.pill.orange:before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
  background: #945904;
  color: #fff;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
  border-radius: 12px;
  max-width: 100%;
}
.button.pill.orange:hover:before {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.button.pill.red {
  color: #fff;
  background: #9d261d;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s;
          transition: 0.5s;
  border-radius: 12px;
}
.button.pill.red:before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
  background: #47110d;
  color: #fff;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
  border-radius: 12px;
  max-width: 100%;
}
.button.pill.red:hover:before {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.button.pill.pink {
  color: #fff;
  background: #c3325f;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s;
          transition: 0.5s;
  border-radius: 12px;
}
.button.pill.pink:before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
  background: #721d37;
  color: #fff;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
  border-radius: 12px;
  max-width: 100%;
}
.button.pill.pink:hover:before {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.button.pill.purple {
  color: #fff;
  background: #7a43b6;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s;
          transition: 0.5s;
  border-radius: 12px;
}
.button.pill.purple:before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
  background: #48286b;
  color: #fff;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
  border-radius: 12px;
  max-width: 100%;
}
.button.pill.purple:hover:before {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.5s;
          transition: 0.5s;
}

.message {
  display: block;
  padding: 12px;
  margin-bottom: 24px;
}
.message h4, .message p {
  margin: 0;
}
.message.info {
  background: #ccf2ff;
}
.message.info h4, .message.info p {
  color: #0099cc;
}
.message.warning {
  background: #fee9cc;
}
.message.warning h4, .message.warning p {
  color: #c67605;
}
.message.error {
  background: #eca09a;
}
.message.error h4, .message.error p {
  color: #721c15;
}

h1 {
  margin-top: 0;
}

.div-toggle,
.div-hover {
  cursor: pointer;
}

.toggle-content,
.hover-content {
  display: none;
}
.toggle-content.on,
.hover-content.on {
  display: block !important;
}

.mobi-reveal {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 30px;
  height: 30px;
}

#nav {
  background: #216DAB;
  border-radius: 10px 10px 0 0;
}

#nav-main {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#nav-main li {
  list-style-type: none;
}
#nav-main li a {
  display: block;
  color: #fff;
}
#nav-main li a.active, #nav-main li a:hover {
  background: #000;
  text-decoration: none;
}

.pager li a {
  margin-left: 0;
  margin-right: 0;
  margin: 12px;
}
.pager li a:hover {
  color: #fff !important;
}

.page-header {
  padding: 24px;
  margin-bottom: 24px;
}
.page-header h1 {
  display: inline-block;
  margin: 0;
  float: left;
}
.page-header .navigation {
  display: inline-block;
  float: right;
}
.page-header .navigation li {
  display: inline-block;
}

.header__nav li {
  display: inline-block;
}

@media only screen and (max-width: 480px) {
  .mobi-reveal {
    display: block;
  }

  #nav-main li {
    display: inline-block;
  }
  #nav-main li a {
    padding: 24px 12px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .mobi-reveal {
    display: block;
  }
}
@media only screen and (min-width: 1024px) {
  .mobi-reveal {
    display: none;
  }

  #nav-main {
    display: block;
    margin-left: 12px;
  }
  #nav-main li {
    display: inline-block;
  }
  #nav-main li a {
    padding: 24px 12px;
  }
}
@media only screen and (min-width: 1200px) {
  .mobi-reveal {
    display: none;
  }
}
.card {
  -webkit-box-shadow: 0px 2px 5px #000;
          box-shadow: 0px 2px 5px #000;
  padding: 0 !important;
  display: block;
  position: relative;
}
.card .card__header .club__logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.card .card__header .club__logo .club__logo-image {
  width: 100%;
  height: auto;
}
.card .card__header .club__logo-image img {
  width: 100%;
  height: auto;
}
.card .card__body {
  padding: 24px 0;
  background: #fff;
}
.card .card__body h4 {
  text-align: center;
  font-weight: bold;
  display: block;
  color: #000;
  margin: 0;
  padding: 0;
}
.card .card__footer {
  background: #E4E4E4;
}
.card .card__footer a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 12px;
}

.field-item {
  margin-bottom: 12px;
}

table {
  padding: 0;
  margin: 0;
  border: 0;
  margin-bottom: 12px;
  border-spacing: 2px;
  border-collapse: separate;
}
table th {
  border: 0;
  padding: 6px;
  background: #113C4B;
  color: #fff;
}
table td {
  position: relative;
  border: 0;
  padding: 6px;
  background: url("../images/bg-content.png");
}
table .td__icon {
  background: none;
}

.icon {
  width: 24px;
  height: 24px;
}
.icon img, .icon svg {
  width: 100%;
  height: 100%;
}
.icon img path, .icon svg path {
  fill: #fff;
}

.button {
  background: #113C4B !important;
  display: inline-block;
  padding: 12px 24px !important;
  color: #fff;
  font-weight: bold;
}

#masthead .top-band {
  width: 100%;
  height: 24px;
  border-radius: 0px 0px 10px 10px;
  background: #216DAB;
}
#masthead .section-logo {
  position: relative;
  width: 100%;
}
#masthead .section-logo:before {
  content: "";
  display: block;
  padding-top: 20%;
}
#masthead .section-logo .logo-link {
  position: absolute;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
}
#masthead .section-logo .logo-link img {
  height: 100%;
  width: auto;
  float: right;
}
#masthead .header__nav {
  position: relative;
  width: 100%;
}
#masthead .header__nav:before {
  content: "";
  display: block;
  padding-top: 15%;
}
#masthead .header__nav ul {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  padding: 0;
}

#top {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-size: 100% auto;
  z-index: -1;
}

#mast .container {
  background: url("../images/bg-content.png");
  border-radius: 10px 10px 0 0;
}
#mast .container .page {
  padding: 24px;
}
#mast .container .page-body {
  padding: 24px;
}
#mast .container .page-body .filter {
  margin-bottom: 24px;
}

body {
  background: url("../images/Page-BgTexture.jpg") no-repeat top center #113C4B;
}

.page__players .icon {
  display: inline-block;
}
.page__players .player__team {
  position: relative;
}
.page__players .player__team .toggle-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
}
.page__players .player__docs .icon {
  position: relative;
  z-index: 1;
}
.page__players .player__docs .player-photo {
  display: none;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}
.page__players .player__docs .player-photo .div-toggle,
.page__players .player__docs .player-photo .div-hover {
  color: #000;
}
.page__players .player__docs .player-photo .div-toggle img,
.page__players .player__docs .player-photo .div-hover img {
  width: 100%;
  height: auto;
}
